In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df= pd.read_csv('/content/Egypt_Houses_Price - Egypt_Houses_Price.csv',encoding='latin1')
df.describe()

,Type,Price,Bedrooms,Bathrooms,Area,Furnished,Level,Compound,Payment_Option,Delivery_Date,Delivery_Term,City
count,27361,27359,27158,27190,26890,27361,27361,27361,27361,27361,27361,27361
unique,11,4182,12,12,786,3,14,560,4,10,5,183
top,Apartment,3000000,3,2,120,No,Unknown,Unknown,Cash or Installment,Ready to move,Finished,New Cairo - El Tagamoa
freq,8506,311,11803,9186,663,16500,10439,11068,10842,12142,14375,6789

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27361 entries, 0 to 27360
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            27361 non-null  object
 1   Price           27359 non-null  object
 2   Bedrooms        27158 non-null  object
 3   Bathrooms       27190 non-null  object
 4   Area            26890 non-null  object
 5   Furnished       27361 non-null  object
 6   Level           27361 non-null  object
 7   Compound        27361 non-null  object
 8   Payment_Option  27361 non-null  object
 9   Delivery_Date   27361 non-null  object
 10  Delivery_Term   27361 non-null  object
 11  City            27361 non-null  object
dtypes: object(12)
memory usage: 2.5+ MB

In [ ]:
df.isnull().sum()

Type                0
Price               2
Bedrooms          203
Bathrooms         171
Area              471
Furnished           0
Level               0
Compound            0
Payment_Option      0
Delivery_Date       0
Delivery_Term       0
City                0
dtype: int64

**ORDINAL ENCODING DONE AS ALL DATASET WAS OBJECT TYPE**

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

# Assuming 'data' is your DataFrame
data_encoded = df.copy()

# Iterate over categorical columns and apply ordinal encoding
for col in data_encoded.columns:
    if data_encoded[col].dtype == 'object':
        oe = OrdinalEncoder()
        data_encoded[col] = oe.fit_transform(data_encoded[[col]])

In [ ]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27361 entries, 0 to 27360
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Type            27361 non-null  float64
 1   Price           27359 non-null  float64
 2   Bedrooms        27158 non-null  float64
 3   Bathrooms       27190 non-null  float64
 4   Area            26890 non-null  float64
 5   Furnished       27361 non-null  float64
 6   Level           27361 non-null  float64
 7   Compound        27361 non-null  float64
 8   Payment_Option  27361 non-null  float64
 9   Delivery_Date   27361 non-null  float64
 10  Delivery_Term   27361 non-null  float64
 11  City            27361 non-null  float64
dtypes: float64(12)
memory usage: 2.5 MB

In [ ]:
data_encoded.fillna(0,inplace=True)

In [ ]:
data_encoded.isnull().sum()

Type              0
Price             0
Bedrooms          0
Bathrooms         0
Area              0
Furnished         0
Level             0
Compound          0
Payment_Option    0
Delivery_Date     0
Delivery_Term     0
City              0
dtype: int64

In [ ]:
data_encoded.shape

(27361, 12)

In [ ]:
X = data_encoded.drop([ 'Price'], axis=1)
y = data_encoded['Price']

**WRAPPER METHOD (FORWARD ELIMINATION)**

In [ ]:
#importing the necessary libraries
import joblib
import sys
sys.modules['sklearn.externals.joblib'] = joblib

from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression
# Sequential Forward Selection(sfs)
sfs = SFS(LinearRegression(),
          k_features=5,
          forward=True,
          floating=False,
          scoring = 'r2',
          cv = 0)

In [ ]:
sfs.fit(X, y)
sfs.k_feature_names_

('Type', 'Bathrooms', 'Area', 'Delivery_Date', 'Delivery_Term')

**WRAPPER METHOD (BACKWARD ELIMINATION)**

In [ ]:
Xb = data_encoded.drop([ 'Price','Type','Bedrooms','Area','Furnished','Level','Compound','Payment_Option','Delivery_Date','Delivery_Term','City'], axis=1)
yb = data_encoded['Price'] #Target Feature

#Sequential backward selection(sbs)
sbs = SFS(LinearRegression(),
         k_features=1,
         forward=False,
         floating=False,
         cv=0)
sbs.fit(Xb, yb)
sfs.k_feature_names_

('Type', 'Bathrooms', 'Area', 'Delivery_Date', 'Delivery_Term')